<div
  id="amora"
  data-product_id="{{ product.id }}"
  data-product_gated="{{ product.gated? }}">
  Tokengating example app block placeholder
</div>
<script async type="module" src="{{ "index.js" | asset_url }}"></script>
<script async type="module" src="{{ "xumm.js" | asset_url }}"></script>

{% schema %}
  {
    "name": "Tokengate",
    "target": "section",
    "templates": ["product"],
    "settings": []
  }
{% endschema %}
<script>
  window.myAppGates = [
    {%- for gate in product.gates -%}
      {%- if gate.configuration.app_id == 'amora' -%}
        {%- assign configuration = gate.configuration -%}
        {
          id: "{{ configuration.id }}",
          name: "{{ configuration.name | escape }}",
          requirements: {{ gate.configuration.metafields.amora.requirements }},
          reaction: {{ gate.configuration.metafields.amora.reaction }}
        },
      {%- endif -%}
    {%- endfor -%}
  ];
</script>
